<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> scentmagic@gmail.com</li>
                            <li>Free Shipping for all Orders</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__language">
                            <img src="img/language.png" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                        <div class="header__top__right__auth">
                            <% if (isAuthenticated) { %>
                                <a href="/logout"><i class="fa fa-user"></i> Logout</a>
                                <% } else { %>
                                    <a href="/login"><i class="fa fa-user"></i> Login</a>
                                    <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/"><img src="/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="<%= currentRoute === '/' ? 'active' : '' %>"><a href="/">Home</a></li>
                        <li class="<%= currentRoute === '/shop' ? 'active' : '' %>"><a href="/shop">Shop</a></li>
                        <li class="<%= currentRoute === '/my-account' ? 'active' : '' %>"><a href="/my-account">My
                                Account</a></li>
                        <li class="<%= currentRoute === '/contact' ? 'active' : '' %>"><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="/cart"><i class="fa fa-shopping-bag"></i> <span id="cart-count">0</span></a></li>
                        <li><a href="/wishlist"><i class="fa fa-heart"></i> <span id="wishlist-count">0</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span id="cart-total-price">₹0.00</span></div>
                </div>

            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>

    <script>
        function updateCartUI() {
            fetch('/cart/details')
                .then(response => response.json())
                .then(data => {
                    if (data.totalItems !== undefined && data.totalPrice !== undefined) {
                        const cartCount = document.querySelector('.header__cart span:nth-child(2)');
                        const cartTotalPrice = document.querySelector('.header__cart__price span');

                        cartCount.textContent = data.totalItems;
                        cartTotalPrice.textContent = `₹${data.totalPrice}`;
                    }
                })
                .catch(error => {
                    console.error('Error fetching cart details:', error);
                });
        }

        function updateWishlistUI() {
            fetch('/wishlist/details')
                .then(response => response.json())
                .then(data => {
                    if (data.totalItems !== undefined) {
                        const wishlistCount = document.querySelector('#wishlist-count');
                        wishlistCount.textContent = data.totalItems;
                    }
                })
                .catch(error => {
                    console.error('Error fetching wishlist details:', error);
                });
        }

        updateWishlistUI();
        updateCartUI();



        document.querySelectorAll('.add-to-cart').forEach(button => {
            button.addEventListener('click', function () {
                updateCartUI();
            });
        });

        document.querySelectorAll('.remove-from-cart').forEach(button => {
            button.addEventListener('click', function () {
                updateCartUI();
            });
        });

    </script>
</header>